@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.center {
  height: 200px;
  position: relative;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}